@import "../../scss/variablesDefault";
@import "../../scss/mixins";

.Content {
  @include flex-container(row, center, center, 0px, wrap);
  margin: 0 auto;
  height: 100%;
  max-height: 100vh;
  width: 80%;
  padding: 40px;
  max-width: 1600px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0;
  }

  @media screen and (max-width: 920px) {
    width: 100%;
    padding: 20px;
    height: calc(90vh - 40px);
  }

  @media screen and (max-width: 500px) {
  }
}
